@model IEnumerable<Storage.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}


<form asp-action="Search">
    <div class="input-group">
<h1>Product <br />inventory</h1>
        <label class="form-label m-2">Search</label>
        <input type="text" name="searchString" class="form-control" placeholder="Product name"  style="max-height:35px; max-width:300px"/>
        <div class="input-group-append">
            <button type="submit" class="btn-outline-secondary">Find</button>
        </div>
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="max-width:750px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="text-align: right">
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th style="text-align: right">
                @*
                @Html.DisplayNameFor(model => model.InventoryValue)*@
                Total value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.InventoryValue)
                </td>
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>